<h2>Bienvenue sur le gossip  # <%= @gossip.id %></h2>
<br/>
<h3>Voici le titre :
<h3 class="card-title"><%= @gossip.title %></h3>
<br/>
<h4>Voici l'auteur :</h4>
<h3><%= @gossip.user.first_name %>,  <%= @gossip.user.last_name %> </h3>
<%= link_to("Fiche de l'auteur", gossip_path(@gossip.user), class:"btn btn-primary") %>
<br/>
<br/>
<h4>Voici le contenu :</h4>
<h3><%= @gossip.content %></h3>
<br/>
<h4>Voici la date de création :</h4>
<h3><%= @gossip.created_at %></h3>