<% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |message| %>
      <div class="alert alert-danger" role="alert"><%= message %></div>
    <% end %>
<% end %>

<h3 class="text-center mt-5">Création d'un utilisateur</h3>
<br/><br/>

<div class="d-flex justify-content-center">
  <%= form_with(model: @user_path, url: users_path, method: "post", class:"card w-25 p-2", style:"gap:10px") do |form| %>
  <%= form.hidden_field :user  %>
  <%= form.label "email" %>
  <%= form.text_field :email %>
  <%= form.label "password" %>
  <%= form.password_field :password, placeholder:"password min 6 cars"  %>
  <%= form.label "password2" %>
  <%= form.password_field :password2, placeholder:"repeat pswd..." %>
  <%= form.label "prénom" %>
  <%= form.text_field :first_name %>
  <%= form.label "nom" %>
  <%= form.text_field :last_name %>
  <%= form.label "ta description" %>
  <%= form.text_field :description, placeholder:"mini 5 cars" %>
  <%= form.label "ton age" %>
  <%= form.number_field :age %>
 <label for="city_id">"ta ville":</label>
  <%= select_tag 'user[city_id]', options_for_select( City.all.collect { |city| [city.name, city.id]}) %>
  <%= form.submit "Créer"%>
  <% end %>
</div>
