<h2>Page d'information de l'auteur <%= @user.first_name%>, <%= @user.last_name%> </h2>
<br/>
<h4>Son email :</h4>
<h3><%= @user.email %></h3>
<br/>
<h4>Son age :</h4>
<h3><%= @user.age %></h3>
<br/>
<h4>Ce qui le décrit :</h4>
<h3><%= @user.description %></h3>
<br/>
<h4>Il/elle s'est enregistré(e) le :</h4>
<h3><%= @user.created_at %></h3>
<br/>
<h4>Il/elle occupe la ville :</h4>
<h3><%= @user.city.name %></h3>
<h4>City id #<%=@user.city.id%></h4>
<h5> <a href="<%= city_path(@user.city.id) %>" class="btn btn-primary btn-sm">Voir la ville</a></h5>