<div class="text-center">
  <h2>Bienvenue sur ville  # <%= @city.id %></h2>
  <br/>
  <h3>Son nom : <%= @city.name %></h3>
  <br/>
  <h3>Son code postal : <%= @city.zip_code %></h3>
  <br/>
  <br/>
  <h3>Voici les gossips rattachés à cette ville :</h3>
  <br/>
</div>
<div class="d-flex flex-wrap justify-content-center">
  <% @users.each do |user| %>
    <% user.gossips.each do |gossip| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h4 class="card-title"><%= gossip.title %></h4>
        <h5 class="card-subtitle mb-2 text-body-secondary">Auteur:  <%= gossip.user.first_name %>
          <br/>
          <br/>
        <%= link_to("Voir le gossip", gossip_path(gossip.id), class:"btn btn-primary btn-sm") %>
        </h5>
      </div>
    </div>
    <% end %>
  <% end %>
</div>